.myBtn{
    padding: 5px 15px;
    color: white;
    font-size: 32px;
    font-family: sans-serif;
    background: #859197;
    border: 1px solid #859197;
    width: 230px;
    height: 70px;
    cursor: pointer;
}