
.footer {
    grid-area: footer;
    background-color: #859197;
    height: 124px;
    text-align: center;
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.div{
    display: flex;
    align-items: center;
}
.link{
    color: white;
    font-weight: 400;
    font-size: 20px;
    text-decoration: none;
}
.link:hover{
    text-decoration: underline;
}