
.header {
    grid-area: header;
    background-color: #859197;
    height: 155px;
    text-align: center;
    display: flex;
    align-items: center;

}

.h1 {
    color: white;
    font-size: 70px;
    font-family: sans-serif;
    margin: auto;
}